#t-f84b1243-d701-4927-a9e9-7b5e356b21b8 > #backgroundBox {
  background-color: #FFFFFF;
  background-image: none;
  position: absolute;
}
#t-f84b1243-d701-4927-a9e9-7b5e356b21b8 > #alignmentBox {
  position: relative;
  max-width: 360px;
  max-height: 640px;
  width: 100%;
  height: 100%;
}
#t-f84b1243-d701-4927-a9e9-7b5e356b21b8 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}