<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id ="ClimaxAndroid"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>ClimaxAndroid</name>

  <description>
      Generated with Justinmind
  </description>

  <author href="" email="stevesat@gmail.com">
      stevesat@gmail.com
  </author>
  <preference name="android-targetSdkVersion" value="26" />
  

</widget>