#s-12f95033-51c0-4a0b-bb64-c80c715ca252 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-12f95033-51c0-4a0b-bb64-c80c715ca252 > #alignmentBox {
  position: relative;
  max-width: 360px;
  max-height: 640px;
  width: 100%;
  height: 100%;
}
#s-12f95033-51c0-4a0b-bb64-c80c715ca252 #s-Background > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
}
#s-12f95033-51c0-4a0b-bb64-c80c715ca252 #s-Background {
  position: absolute;
  width: 360px;
  height: 640px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 8.0pt;
  font-family: 'Arial',Arial;
}
#s-12f95033-51c0-4a0b-bb64-c80c715ca252 #s-Background > .clipping, #s-12f95033-51c0-4a0b-bb64-c80c715ca252 #s-Background > .paddingLayer {
  height: 640px;
  width: 360px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-12f95033-51c0-4a0b-bb64-c80c715ca252 #s-Background .valign {
  vertical-align: middle;
  text-align: left;
}
#s-12f95033-51c0-4a0b-bb64-c80c715ca252 #s-Background span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-12f95033-51c0-4a0b-bb64-c80c715ca252 #s-Background span#rtr-s-Background_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-12f95033-51c0-4a0b-bb64-c80c715ca252 #s-Statusbar {
  position: absolute;
  width: 360px;
  height: 20px;
}
#s-12f95033-51c0-4a0b-bb64-c80c715ca252 #s-Rectangle_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #000000;
  background-image: none;
  box-shadow: none;
}
#s-12f95033-51c0-4a0b-bb64-c80c715ca252 #s-Rectangle_2 {
  position: absolute;
  width: 360px;
  height: 20px;
  opacity: 0.15;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-12f95033-51c0-4a0b-bb64-c80c715ca252 #s-Rectangle_2 > .clipping, #s-12f95033-51c0-4a0b-bb64-c80c715ca252 #s-Rectangle_2 > .paddingLayer {
  height: 20px;
  width: 352px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 8px;
}
#s-12f95033-51c0-4a0b-bb64-c80c715ca252 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-12f95033-51c0-4a0b-bb64-c80c715ca252 #s-Rectangle_2 span {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
}
#s-12f95033-51c0-4a0b-bb64-c80c715ca252 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-12f95033-51c0-4a0b-bb64-c80c715ca252 #s-Dynamic_Panel_3 {
  position: absolute;
}
#s-12f95033-51c0-4a0b-bb64-c80c715ca252 #s-Panel_4 {
  width: 360px;
  height: 20px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-12f95033-51c0-4a0b-bb64-c80c715ca252 #s-Panel_4 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-12f95033-51c0-4a0b-bb64-c80c715ca252 #s-Panel_4 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-12f95033-51c0-4a0b-bb64-c80c715ca252 #s-Panel_4 > .layoutWrapper {
  left: 0px;
  top: 0px;
  width: 360px;
  height: 20px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-12f95033-51c0-4a0b-bb64-c80c715ca252 #s-Panel_4 .verticalalign {
  vertical-align: top;
}
#s-12f95033-51c0-4a0b-bb64-c80c715ca252 #s-Icons_5 {
  width: 61px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-12f95033-51c0-4a0b-bb64-c80c715ca252 #s-Icons_5 > img, #s-12f95033-51c0-4a0b-bb64-c80c715ca252 #s-Icons_5 > svg {
  height: 20px;
  width: 61px;
  box-shadow: none;
}
#s-12f95033-51c0-4a0b-bb64-c80c715ca252 #s-Label_30 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-12f95033-51c0-4a0b-bb64-c80c715ca252 #s-Label_30 {
  width: 46px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 9.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-12f95033-51c0-4a0b-bb64-c80c715ca252 #s-Label_30 > .clipping, #s-12f95033-51c0-4a0b-bb64-c80c715ca252 #s-Label_30 > .paddingLayer {
  height: 20px;
  width: 41px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 5px;
}
#s-12f95033-51c0-4a0b-bb64-c80c715ca252 #s-Label_30 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-12f95033-51c0-4a0b-bb64-c80c715ca252 #s-Label_30 span {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 9.0pt;
}
#s-12f95033-51c0-4a0b-bb64-c80c715ca252 #s-Label_30 span#rtr-s-Label_30_0 {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-12f95033-51c0-4a0b-bb64-c80c715ca252 #s-logo {
  position: absolute;
  width: 153px;
  height: 153px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-12f95033-51c0-4a0b-bb64-c80c715ca252 #s-logo > img, #s-12f95033-51c0-4a0b-bb64-c80c715ca252 #s-logo > svg {
  height: 153px;
  width: 153px;
  box-shadow: none;
}
#s-12f95033-51c0-4a0b-bb64-c80c715ca252 #s-tryagain-button {
  position: absolute;
  width: 250px;
  height: 46px;
}
#s-12f95033-51c0-4a0b-bb64-c80c715ca252 #s-Button_17 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #02BBD2;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #8AD9D2;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #8AD9D2;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #8AD9D2;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #8AD9D2;
  border-radius: 3px 3px 3px 3px;
  box-shadow: none;
}
#s-12f95033-51c0-4a0b-bb64-c80c715ca252 #s-Button_17 {
  position: absolute;
  width: 250px;
  height: 46px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 15.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-12f95033-51c0-4a0b-bb64-c80c715ca252 #s-Button_17 > .clipping, #s-12f95033-51c0-4a0b-bb64-c80c715ca252 #s-Button_17 > .paddingLayer {
  height: 42px;
  width: 246px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  padding-right: 2px;
}
#s-12f95033-51c0-4a0b-bb64-c80c715ca252 #s-Button_17 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-12f95033-51c0-4a0b-bb64-c80c715ca252 #s-Button_17 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 15.0pt;
}
#s-12f95033-51c0-4a0b-bb64-c80c715ca252 #s-Button_17 span#rtr-s-Button_17_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 15.0pt;
  line-height: 0px;
}
#s-12f95033-51c0-4a0b-bb64-c80c715ca252 #s-Button_18 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-image: none;
  border-radius: 0px 0px 0px 0px;
  box-shadow: none;
}
#s-12f95033-51c0-4a0b-bb64-c80c715ca252 #s-Button_18 {
  position: absolute;
  width: 250px;
  height: 46px;
  opacity: 0.35;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 15.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-12f95033-51c0-4a0b-bb64-c80c715ca252 #s-Button_18 > .clipping, #s-12f95033-51c0-4a0b-bb64-c80c715ca252 #s-Button_18 > .paddingLayer {
  height: 46px;
  width: 250px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-12f95033-51c0-4a0b-bb64-c80c715ca252 #s-Button_18 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-12f95033-51c0-4a0b-bb64-c80c715ca252 #s-Button_18 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 15.0pt;
}
#s-12f95033-51c0-4a0b-bb64-c80c715ca252 #s-Button_18 span#rtr-s-Button_18_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 15.0pt;
  line-height: 0px;
}
#s-12f95033-51c0-4a0b-bb64-c80c715ca252 #s-message {
  position: absolute;
  width: 332px;
  height: 75px;
}
#s-12f95033-51c0-4a0b-bb64-c80c715ca252 #s-text > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-12f95033-51c0-4a0b-bb64-c80c715ca252 #s-text {
  position: absolute;
  width: 332px;
  height: 53px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Roboto-Thin',Arial;
}
#s-12f95033-51c0-4a0b-bb64-c80c715ca252 #s-text > .clipping, #s-12f95033-51c0-4a0b-bb64-c80c715ca252 #s-text > .paddingLayer {
  height: 53px;
  width: 332px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-12f95033-51c0-4a0b-bb64-c80c715ca252 #s-text .valign {
  vertical-align: middle;
  text-align: center;
}
#s-12f95033-51c0-4a0b-bb64-c80c715ca252 #s-text span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Thin',Arial;
  font-size: 12.0pt;
}
#s-12f95033-51c0-4a0b-bb64-c80c715ca252 #s-text span#rtr-s-text_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Thin',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-12f95033-51c0-4a0b-bb64-c80c715ca252 #s-title > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-12f95033-51c0-4a0b-bb64-c80c715ca252 #s-title {
  position: absolute;
  width: 318px;
  height: 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-12f95033-51c0-4a0b-bb64-c80c715ca252 #s-title > .clipping, #s-12f95033-51c0-4a0b-bb64-c80c715ca252 #s-title > .paddingLayer {
  height: 30px;
  width: 318px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-12f95033-51c0-4a0b-bb64-c80c715ca252 #s-title .valign {
  vertical-align: middle;
  text-align: center;
}
#s-12f95033-51c0-4a0b-bb64-c80c715ca252 #s-title span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
}
#s-12f95033-51c0-4a0b-bb64-c80c715ca252 #s-title span#rtr-s-title_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-12f95033-51c0-4a0b-bb64-c80c715ca252 #s-Image_1 {
  position: absolute;
  width: 276px;
  height: 69px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-12f95033-51c0-4a0b-bb64-c80c715ca252 #s-Image_1 > img, #s-12f95033-51c0-4a0b-bb64-c80c715ca252 #s-Image_1 > svg {
  height: 69px;
  width: 276px;
  box-shadow: none;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-12f95033-51c0-4a0b-bb64-c80c715ca252 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}