#s-1432c19d-c891-4d09-9d9e-a0e9b91f9494 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-1432c19d-c891-4d09-9d9e-a0e9b91f9494 > #alignmentBox {
  position: relative;
  max-width: 360px;
  max-height: 640px;
  width: 100%;
  height: 100%;
}
#s-1432c19d-c891-4d09-9d9e-a0e9b91f9494 #s-Background > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
}
#s-1432c19d-c891-4d09-9d9e-a0e9b91f9494 #s-Background {
  position: absolute;
  width: 360px;
  height: 640px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 8.0pt;
  font-family: 'Arial',Arial;
}
#s-1432c19d-c891-4d09-9d9e-a0e9b91f9494 #s-Background > .clipping, #s-1432c19d-c891-4d09-9d9e-a0e9b91f9494 #s-Background > .paddingLayer {
  height: 640px;
  width: 360px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-1432c19d-c891-4d09-9d9e-a0e9b91f9494 #s-Background .valign {
  vertical-align: middle;
  text-align: left;
}
#s-1432c19d-c891-4d09-9d9e-a0e9b91f9494 #s-Background span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-1432c19d-c891-4d09-9d9e-a0e9b91f9494 #s-Background span#rtr-s-Background_0 {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-1432c19d-c891-4d09-9d9e-a0e9b91f9494 #s-Statusbar {
  position: absolute;
  width: 360px;
  height: 20px;
}
#s-1432c19d-c891-4d09-9d9e-a0e9b91f9494 #s-Rectangle_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #000000;
  background-image: none;
  box-shadow: none;
}
#s-1432c19d-c891-4d09-9d9e-a0e9b91f9494 #s-Rectangle_3 {
  position: absolute;
  width: 360px;
  height: 20px;
  opacity: 0.15;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-1432c19d-c891-4d09-9d9e-a0e9b91f9494 #s-Rectangle_3 > .clipping, #s-1432c19d-c891-4d09-9d9e-a0e9b91f9494 #s-Rectangle_3 > .paddingLayer {
  height: 20px;
  width: 352px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 8px;
}
#s-1432c19d-c891-4d09-9d9e-a0e9b91f9494 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-1432c19d-c891-4d09-9d9e-a0e9b91f9494 #s-Rectangle_3 span {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
}
#s-1432c19d-c891-4d09-9d9e-a0e9b91f9494 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-1432c19d-c891-4d09-9d9e-a0e9b91f9494 #s-Dynamic_Panel_3 {
  position: absolute;
}
#s-1432c19d-c891-4d09-9d9e-a0e9b91f9494 #s-Panel_4 {
  width: 360px;
  height: 20px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-1432c19d-c891-4d09-9d9e-a0e9b91f9494 #s-Panel_4 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-1432c19d-c891-4d09-9d9e-a0e9b91f9494 #s-Panel_4 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-1432c19d-c891-4d09-9d9e-a0e9b91f9494 #s-Panel_4 > .layoutWrapper {
  left: 0px;
  top: 0px;
  width: 360px;
  height: 20px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-1432c19d-c891-4d09-9d9e-a0e9b91f9494 #s-Panel_4 .verticalalign {
  vertical-align: top;
}
#s-1432c19d-c891-4d09-9d9e-a0e9b91f9494 #s-Icons_5 {
  width: 61px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-1432c19d-c891-4d09-9d9e-a0e9b91f9494 #s-Icons_5 > img, #s-1432c19d-c891-4d09-9d9e-a0e9b91f9494 #s-Icons_5 > svg {
  height: 20px;
  width: 61px;
  box-shadow: none;
}
#s-1432c19d-c891-4d09-9d9e-a0e9b91f9494 #s-Label_30 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-1432c19d-c891-4d09-9d9e-a0e9b91f9494 #s-Label_30 {
  width: 46px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 9.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-1432c19d-c891-4d09-9d9e-a0e9b91f9494 #s-Label_30 > .clipping, #s-1432c19d-c891-4d09-9d9e-a0e9b91f9494 #s-Label_30 > .paddingLayer {
  height: 20px;
  width: 41px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 5px;
}
#s-1432c19d-c891-4d09-9d9e-a0e9b91f9494 #s-Label_30 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-1432c19d-c891-4d09-9d9e-a0e9b91f9494 #s-Label_30 span {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 9.0pt;
}
#s-1432c19d-c891-4d09-9d9e-a0e9b91f9494 #s-Label_30 span#rtr-s-Label_30_0 {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-1432c19d-c891-4d09-9d9e-a0e9b91f9494 #s-input_password {
  position: absolute;
  width: 360px;
  height: 32px;
}
#s-1432c19d-c891-4d09-9d9e-a0e9b91f9494 #s-Input_2 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-1432c19d-c891-4d09-9d9e-a0e9b91f9494 #s-Input_2 input::-moz-placeholder {
  color: #B4B4B4;
}
#s-1432c19d-c891-4d09-9d9e-a0e9b91f9494 #s-Input_2 input:-moz-placeholder {
  color: #B4B4B4;
}
#s-1432c19d-c891-4d09-9d9e-a0e9b91f9494 #s-Input_2 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-1432c19d-c891-4d09-9d9e-a0e9b91f9494 #s-Input_2 {
  position: absolute;
  width: 360px;
  height: 31px;
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-1432c19d-c891-4d09-9d9e-a0e9b91f9494 #s-Input_2 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-1432c19d-c891-4d09-9d9e-a0e9b91f9494 #s-Input_2 input {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-1432c19d-c891-4d09-9d9e-a0e9b91f9494 #s-Input_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-1432c19d-c891-4d09-9d9e-a0e9b91f9494 #s-Input_2 > .paddingLayer {
  height: 31px;
  width: 355px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
  padding-right: 0px;
}
#s-1432c19d-c891-4d09-9d9e-a0e9b91f9494 #shapewrapper-s-Line_3 marker {
  fill: #757575;
}
#s-1432c19d-c891-4d09-9d9e-a0e9b91f9494 #shapewrapper-s-Line_3 {
  position: absolute;
  width: 360px;
  height: 1px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-1432c19d-c891-4d09-9d9e-a0e9b91f9494 #s-Line_3 {
  width: 360px;
  height: 0px;
  padding-top: 1px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 1px;
  stroke: #757575;
  box-shadow: none;
}
#s-1432c19d-c891-4d09-9d9e-a0e9b91f9494 #shapewrapper-s-Line_4 marker {
  fill: #02BBD2;
}
#s-1432c19d-c891-4d09-9d9e-a0e9b91f9494 #shapewrapper-s-Line_4 {
  position: absolute;
  width: 360px;
  height: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-1432c19d-c891-4d09-9d9e-a0e9b91f9494 #s-Line_4 {
  width: 360px;
  height: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 2px;
  stroke: #02BBD2;
  box-shadow: none;
}
#s-1432c19d-c891-4d09-9d9e-a0e9b91f9494 #s-input_email {
  position: absolute;
  width: 360px;
  height: 32px;
}
#s-1432c19d-c891-4d09-9d9e-a0e9b91f9494 #s-Input_3 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-1432c19d-c891-4d09-9d9e-a0e9b91f9494 #s-Input_3 input::-moz-placeholder {
  color: #B4B4B4;
}
#s-1432c19d-c891-4d09-9d9e-a0e9b91f9494 #s-Input_3 input:-moz-placeholder {
  color: #B4B4B4;
}
#s-1432c19d-c891-4d09-9d9e-a0e9b91f9494 #s-Input_3 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-1432c19d-c891-4d09-9d9e-a0e9b91f9494 #s-Input_3 {
  position: absolute;
  width: 360px;
  height: 31px;
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-1432c19d-c891-4d09-9d9e-a0e9b91f9494 #s-Input_3 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-1432c19d-c891-4d09-9d9e-a0e9b91f9494 #s-Input_3 input {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-1432c19d-c891-4d09-9d9e-a0e9b91f9494 #s-Input_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-1432c19d-c891-4d09-9d9e-a0e9b91f9494 #s-Input_3 > .paddingLayer {
  height: 31px;
  width: 355px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
  padding-right: 0px;
}
#s-1432c19d-c891-4d09-9d9e-a0e9b91f9494 #shapewrapper-s-Line_5 marker {
  fill: #757575;
}
#s-1432c19d-c891-4d09-9d9e-a0e9b91f9494 #shapewrapper-s-Line_5 {
  position: absolute;
  width: 360px;
  height: 1px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-1432c19d-c891-4d09-9d9e-a0e9b91f9494 #s-Line_5 {
  width: 360px;
  height: 0px;
  padding-top: 1px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 1px;
  stroke: #757575;
  box-shadow: none;
}
#s-1432c19d-c891-4d09-9d9e-a0e9b91f9494 #shapewrapper-s-Line_6 marker {
  fill: #02BBD2;
}
#s-1432c19d-c891-4d09-9d9e-a0e9b91f9494 #shapewrapper-s-Line_6 {
  position: absolute;
  width: 360px;
  height: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-1432c19d-c891-4d09-9d9e-a0e9b91f9494 #s-Line_6 {
  width: 360px;
  height: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 2px;
  stroke: #02BBD2;
  box-shadow: none;
}
#s-1432c19d-c891-4d09-9d9e-a0e9b91f9494 #s-signin-button {
  position: absolute;
  width: 250px;
  height: 46px;
}
#s-1432c19d-c891-4d09-9d9e-a0e9b91f9494 #s-Button_17 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #02BBD2;
  background-image: none;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #8AD9D2;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #8AD9D2;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #8AD9D2;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #8AD9D2;
  border-radius: 3px 3px 3px 3px;
  box-shadow: none;
}
#s-1432c19d-c891-4d09-9d9e-a0e9b91f9494 #s-Button_17 {
  position: absolute;
  width: 250px;
  height: 46px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 15.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-1432c19d-c891-4d09-9d9e-a0e9b91f9494 #s-Button_17 > .clipping, #s-1432c19d-c891-4d09-9d9e-a0e9b91f9494 #s-Button_17 > .paddingLayer {
  height: 42px;
  width: 246px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  padding-right: 2px;
}
#s-1432c19d-c891-4d09-9d9e-a0e9b91f9494 #s-Button_17 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1432c19d-c891-4d09-9d9e-a0e9b91f9494 #s-Button_17 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 15.0pt;
}
#s-1432c19d-c891-4d09-9d9e-a0e9b91f9494 #s-Button_17 span#rtr-s-Button_17_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 15.0pt;
  line-height: 0px;
}
#s-1432c19d-c891-4d09-9d9e-a0e9b91f9494 #s-Button_18 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-image: none;
  border-radius: 0px 0px 0px 0px;
  box-shadow: none;
}
#s-1432c19d-c891-4d09-9d9e-a0e9b91f9494 #s-Button_18 {
  position: absolute;
  width: 250px;
  height: 46px;
  opacity: 0.35;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 15.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-1432c19d-c891-4d09-9d9e-a0e9b91f9494 #s-Button_18 > .clipping, #s-1432c19d-c891-4d09-9d9e-a0e9b91f9494 #s-Button_18 > .paddingLayer {
  height: 46px;
  width: 250px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-1432c19d-c891-4d09-9d9e-a0e9b91f9494 #s-Button_18 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1432c19d-c891-4d09-9d9e-a0e9b91f9494 #s-Button_18 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 15.0pt;
}
#s-1432c19d-c891-4d09-9d9e-a0e9b91f9494 #s-Button_18 span#rtr-s-Button_18_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 15.0pt;
  line-height: 0px;
}
#s-1432c19d-c891-4d09-9d9e-a0e9b91f9494 #shapewrapper-s-Callout > .shapert-clipping {
  width: 197px;
  height: 92px;
}
#s-1432c19d-c891-4d09-9d9e-a0e9b91f9494 #shapewrapper-s-Callout .shapert-clipping {
  left: 20px;
  top: 0px;
  width: 176px;
  height: 92px;
  position: absolute;
  overflow: hidden;
}
#s-1432c19d-c891-4d09-9d9e-a0e9b91f9494 #shapewrapper-s-Callout .content {
  text-shadow: none;
  width: 176px;
  height: 92px;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-1432c19d-c891-4d09-9d9e-a0e9b91f9494 #shapewrapper-s-Callout > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-1432c19d-c891-4d09-9d9e-a0e9b91f9494 #shapewrapper-s-Callout {
  position: absolute;
  width: 197px;
  height: 92px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-1432c19d-c891-4d09-9d9e-a0e9b91f9494 #s-Callout {
  width: 197px;
  height: 92px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #21C0C0;
  background-image: none;
  box-shadow: none;
}
#s-1432c19d-c891-4d09-9d9e-a0e9b91f9494 #shapewrapper-s-Callout .valign {
  vertical-align: middle;
  text-align: center;
}
#s-1432c19d-c891-4d09-9d9e-a0e9b91f9494 #shapewrapper-s-Callout span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-1432c19d-c891-4d09-9d9e-a0e9b91f9494 #shapewrapper-s-Callout span#rtr-s-Callout_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-1432c19d-c891-4d09-9d9e-a0e9b91f9494 #s-Image_1 {
  position: absolute;
  width: 276px;
  height: 69px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-1432c19d-c891-4d09-9d9e-a0e9b91f9494 #s-Image_1 > img, #s-1432c19d-c891-4d09-9d9e-a0e9b91f9494 #s-Image_1 > svg {
  height: 69px;
  width: 276px;
  box-shadow: none;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-1432c19d-c891-4d09-9d9e-a0e9b91f9494 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}