#s-1432c19d-c891-4d09-9d9e-a0e9b91f9494 #s-Background {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1432c19d-c891-4d09-9d9e-a0e9b91f9494 #s-Rectangle_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1432c19d-c891-4d09-9d9e-a0e9b91f9494 #s-Icons_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1432c19d-c891-4d09-9d9e-a0e9b91f9494 #s-Label_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1432c19d-c891-4d09-9d9e-a0e9b91f9494 #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1432c19d-c891-4d09-9d9e-a0e9b91f9494 #s-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1432c19d-c891-4d09-9d9e-a0e9b91f9494 #s-Line_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1432c19d-c891-4d09-9d9e-a0e9b91f9494 #s-Line_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1432c19d-c891-4d09-9d9e-a0e9b91f9494 #s-Button_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1432c19d-c891-4d09-9d9e-a0e9b91f9494 #s-Button_18 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35) ;
  filter: alpha(opacity=35) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1432c19d-c891-4d09-9d9e-a0e9b91f9494 #s-Callout {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1432c19d-c891-4d09-9d9e-a0e9b91f9494 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-1432c19d-c891-4d09-9d9e-a0e9b91f9494 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}