#s-55d32c7d-ced9-42af-b60f-763265513d21 #s-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-55d32c7d-ced9-42af-b60f-763265513d21 #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-55d32c7d-ced9-42af-b60f-763265513d21 #s-Image_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-55d32c7d-ced9-42af-b60f-763265513d21 #s-Image_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-55d32c7d-ced9-42af-b60f-763265513d21 #s-Bg_Top {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-55d32c7d-ced9-42af-b60f-763265513d21 #s-Title {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-55d32c7d-ced9-42af-b60f-763265513d21 #s-Delete {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-55d32c7d-ced9-42af-b60f-763265513d21 #s-Image_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-55d32c7d-ced9-42af-b60f-763265513d21 #s-Gallery_1 .s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-55d32c7d-ced9-42af-b60f-763265513d21 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}