#s-cadcdbd5-d639-4865-b840-0c142b724760 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 > #alignmentBox {
  position: relative;
  max-width: 360px;
  max-height: 640px;
  width: 100%;
  height: 100%;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Inbox-screen {
  position: absolute;
  width: 360px;
  height: 593px;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Contactlist-header {
  position: absolute;
  width: 360px;
  height: 80px;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Contact-bar-color {
  position: absolute;
  width: 360px;
  height: 80px;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Label_31 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #02BBD2;
  background-image: none;
  box-shadow: -3px 0px 4px 0px #A0A0A0;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Label_31 {
  position: absolute;
  width: 360px;
  height: 80px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 16.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Label_31 > .clipping, #s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Label_31 > .paddingLayer {
  height: 40px;
  width: 287px;
  padding-top: 40px;
  padding-bottom: 0px;
  padding-left: 73px;
  padding-right: 0px;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Label_31 .valign {
  vertical-align: top;
  text-align: left;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Label_31 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 16.0pt;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Label_31 span#rtr-s-Label_31_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Label_32 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Label_32 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 19.0pt;
  font-family: 'materialdesignjim-Regular',Arial;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Label_32 > .clipping, #s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Label_32 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Label_32 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Label_32 span {
  color: #027388;
  text-align: left;
  text-decoration: none;
  font-family: 'materialdesignjim-Regular',Arial;
  font-size: 19.0pt;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Label_32 span#rtr-s-Label_32_0 {
  color: #027388;
  text-align: left;
  text-decoration: none;
  font-family: 'materialdesignjim-Regular',Arial;
  font-size: 19.0pt;
  line-height: 0px;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Label_34 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Label_34 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 19.0pt;
  font-family: 'materialdesignjim-Regular',Arial;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Label_34 > .clipping, #s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Label_34 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Label_34 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Label_34 span {
  color: #027388;
  text-align: left;
  text-decoration: none;
  font-family: 'materialdesignjim-Regular',Arial;
  font-size: 19.0pt;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Label_34 span#rtr-s-Label_34_0 {
  color: #027388;
  text-align: left;
  text-decoration: none;
  font-family: 'materialdesignjim-Regular',Arial;
  font-size: 19.0pt;
  line-height: 0px;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Statusbar_1 {
  position: absolute;
  width: 360px;
  height: 20px;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Dynamic_Panel_4 {
  position: absolute;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Panel_5 {
  width: 360px;
  height: 20px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Panel_5 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Panel_5 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Panel_5 > .layoutWrapper {
  left: 0px;
  top: 0px;
  width: 360px;
  height: 20px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Panel_5 .verticalalign {
  vertical-align: top;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Icons_6 {
  width: 61px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Icons_6 > img, #s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Icons_6 > svg {
  height: 20px;
  width: 61px;
  box-shadow: none;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Label_35 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Label_35 {
  width: 46px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 9.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Label_35 > .clipping, #s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Label_35 > .paddingLayer {
  height: 20px;
  width: 41px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 5px;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Label_35 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Label_35 span {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 9.0pt;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Label_35 span#rtr-s-Label_35_0 {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Rectangle_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #000000;
  background-image: none;
  box-shadow: none;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Rectangle_2 {
  position: absolute;
  width: 360px;
  height: 20px;
  opacity: 0.15;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Rectangle_2 > .clipping, #s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Rectangle_2 > .paddingLayer {
  height: 20px;
  width: 352px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 8px;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: right;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Rectangle_2 span {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #FFFFFF;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-inbox-dinamicpanel {
  position: absolute;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Panel_2 {
  width: 360px;
  height: 514px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Panel_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-image: none;
  border-radius: 0px 0px 0px 0px;
  box-shadow: none;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Panel_2 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Panel_2 > .layoutWrapper {
  left: 3px;
  top: 3px;
  width: 354px;
  height: 508px;
  overflow-x: hidden;
  overflow-y: auto;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Panel_2 .verticalalign {
  vertical-align: top;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Mail {
  width: 359px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Mail > .backgroundLayer {
  height: calc(100% + -1px);
  width: calc(100% + -1px);
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  box-shadow: none;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Mail > table {
  padding-left: 1px;
  padding-top: 1px;
  padding-bottom: 0px;
  padding-right: 0px;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Mail tr.odd {
  background-color: #FFFFFF;
  background-image: none;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Mail tr.even {
  background-color: #F0F0F0;
  background-image: none;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Row_2 {
  background-color: transparent;
  background-image: none;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Row_cell_3 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Row_cell_3 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Row_cell_3 .verticalalign {
  vertical-align: middle;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Row_cell_3 {
  width: 357px;
  height: 0px;
  background-color: #FFFFFF;
  background-image: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Mail .s-Row_1 {
  background-color: transparent;
  background-image: none;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Mail .s-Row_cell_4 .layout {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Mail .s-Row_cell_4 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Mail .s-Row_cell_4 .verticalalign {
  vertical-align: middle;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Mail .s-Row_cell_4 {
  width: 358px;
  height: 89px;
  background-color: #FFFFFF;
  background-image: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Mail .s-Input_4 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Mail .s-Input_4 input::-moz-placeholder {
  color: #B4B4B4;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Mail .s-Input_4 input:-moz-placeholder {
  color: #B4B4B4;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Mail .s-Input_4 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Mail .s-Input_4 {
  position: absolute;
  width: 206px;
  height: 18px;
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Mail .s-Input_4 .valign {
  vertical-align: top;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Mail .s-Input_4 input {
  color: #747474;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Mail .s-Input_4 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Mail .s-Input_4 > .paddingLayer {
  height: 18px;
  width: 206px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Mail .s-Input_3 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Mail .s-Input_3 input::-moz-placeholder {
  color: #B4B4B4;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Mail .s-Input_3 input:-moz-placeholder {
  color: #B4B4B4;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Mail .s-Input_3 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Mail .s-Input_3 {
  position: absolute;
  width: 206px;
  height: 18px;
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Mail .s-Input_3 .valign {
  vertical-align: top;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Mail .s-Input_3 input {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Mail .s-Input_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Mail .s-Input_3 > .paddingLayer {
  height: 18px;
  width: 206px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Mail .s-Input_5 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Mail .s-Input_5 input::-moz-placeholder {
  color: #B4B4B4;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Mail .s-Input_5 input:-moz-placeholder {
  color: #B4B4B4;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Mail .s-Input_5 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Mail .s-Input_5 {
  position: absolute;
  width: 206px;
  height: 18px;
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Mail .s-Input_5 .valign {
  vertical-align: top;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Mail .s-Input_5 input {
  color: #747474;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
  text-shadow: none;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Mail .s-Input_5 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Mail .s-Input_5 > .paddingLayer {
  height: 18px;
  width: 206px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Mail .s-Input_7 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Mail .s-Input_7 input::-moz-placeholder {
  color: #B4B4B4;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Mail .s-Input_7 input:-moz-placeholder {
  color: #B4B4B4;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Mail .s-Input_7 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Mail .s-Input_7 {
  position: absolute;
  width: 75px;
  height: 18px;
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Mail .s-Input_7 .valign {
  vertical-align: middle;
  line-height: 9.0pt;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Mail .s-Input_7 input {
  color: #747474;
  text-align: right;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 9.0pt;
  text-shadow: none;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Mail .s-Input_7 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Mail .s-Input_7 > .paddingLayer {
  height: 18px;
  width: 75px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Mail .s-Image_1 {
  position: absolute;
  width: 50px;
  height: 50px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Mail .s-Image_1 > img, #s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Mail .s-Image_1 > svg {
  height: 50px;
  width: 50px;
  box-shadow: none;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Mail .s-Image_2 {
  position: absolute;
  width: 22px;
  height: 22px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Mail .s-Image_2 > img, #s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Mail .s-Image_2 > svg {
  height: 22px;
  width: 22px;
  box-shadow: none;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Float-button-light {
  position: absolute;
  width: 56px;
  height: 56px;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #shapewrapper-s-Ellipse_13 > .shapert-clipping {
  width: 56px;
  height: 56px;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #shapewrapper-s-Ellipse_13 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 56px;
  height: 56px;
  position: absolute;
  overflow: hidden;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #shapewrapper-s-Ellipse_13 .content {
  text-shadow: none;
  width: 56px;
  height: 56px;
  line-height: 38px;
  font-size: 24.0pt;
  font-family: 'materialdesignjim-Regular',Arial;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #shapewrapper-s-Ellipse_13 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #shapewrapper-s-Ellipse_13 {
  position: absolute;
  width: 56px;
  height: 56px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Ellipse_13 {
  width: 56px;
  height: 56px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #EEFF41;
  background-image: none;
  box-shadow: 0px 5px 5px 0px #CCCCCC;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #shapewrapper-s-Ellipse_13 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #shapewrapper-s-Ellipse_13 span {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: 'materialdesignjim-Regular',Arial;
  font-size: 24.0pt;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #shapewrapper-s-Ellipse_13 span#rtr-s-Ellipse_13_0 {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: 'materialdesignjim-Regular',Arial;
  font-size: 24.0pt;
  line-height: 0px;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #shapewrapper-s-Ellipse_14 > .shapert-clipping {
  width: 56px;
  height: 56px;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #shapewrapper-s-Ellipse_14 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 56px;
  height: 56px;
  position: absolute;
  overflow: hidden;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #shapewrapper-s-Ellipse_14 .content {
  text-shadow: none;
  width: 56px;
  height: 56px;
  line-height: 38px;
  font-size: 24.0pt;
  font-family: 'materialdesignjim-Regular',Arial;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #shapewrapper-s-Ellipse_14 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #shapewrapper-s-Ellipse_14 {
  position: absolute;
  width: 56px;
  height: 56px;
  opacity: 0.45;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Ellipse_14 {
  width: 56px;
  height: 56px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: 0px 5px 5px 0px #CCCCCC;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #shapewrapper-s-Ellipse_14 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #shapewrapper-s-Ellipse_14 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'materialdesignjim-Regular',Arial;
  font-size: 24.0pt;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #shapewrapper-s-Ellipse_14 span#rtr-s-Ellipse_14_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'materialdesignjim-Regular',Arial;
  font-size: 24.0pt;
  line-height: 0px;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Softbar {
  position: absolute;
  width: 360px;
  height: 48px;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Rectangle_19 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #000000;
  background-image: none;
  box-shadow: none;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Rectangle_19 {
  position: absolute;
  width: 360px;
  height: 48px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Rectangle_19 > .clipping, #s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Rectangle_19 > .paddingLayer {
  height: 48px;
  width: 360px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Rectangle_19 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Rectangle_19 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Rectangle_19 span#rtr-s-Rectangle_19_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Image_8 {
  position: absolute;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Image_8 > img, #s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Image_8 > svg {
  height: 28px;
  width: 28px;
  box-shadow: none;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Image_23 {
  position: absolute;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Image_23 > img, #s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Image_23 > svg {
  height: 28px;
  width: 28px;
  box-shadow: none;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Image_24 {
  position: absolute;
  width: 28px;
  height: 28px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Image_24 > img, #s-cadcdbd5-d639-4865-b840-0c142b724760 #s-Image_24 > svg {
  height: 28px;
  width: 28px;
  box-shadow: none;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-cadcdbd5-d639-4865-b840-0c142b724760 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}